<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" packages="blewinsk.paymentor">
    <Appenders>
        <File name="globalLog" fileName="target/logs/app.log"><!-- target is ignored by git -->
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="globalLog"/>
        </Root>
    </Loggers>
</Configuration>